<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519055258-3mcfri56e3n396c00j4fc0mf75v0tmks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519055258-3mcfri56e3n396c00j4fc0mf75v0tmks</string>
	<key>API_KEY</key>
	<string>AIzaSyCsXHX6Yd2tY8Ppz2STVOUgCn79T5Ut0Rw</string>
	<key>GCM_SENDER_ID</key>
	<string>519055258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sjappelodorus.MatahariTerbit</string>
	<key>PROJECT_ID</key>
	<string>matahariterbit</string>
	<key>STORAGE_BUCKET</key>
	<string>matahariterbit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519055258:ios:5d63c55e852ab419a4fc23</string>
</dict>
</plist>