node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
pc-api-8977804663442977372-184-bbccdbf2b4ee.json
credentials.json
credentials/ios/dist-cert.p12
credentials/ios/profile.mobileprovision