.numberCircle {
    display: inline-block;
    line-height: 0;
    font-weight: bold;
    /*border-radius: 50%;*/
    /*border: 2px solid;*/
    font-size: 16px;
    color: #5689CE
}

.numberCircle span {
    display: inline-block;
    padding-top: 50%;
    padding-bottom: 50%;
    margin-left: 4px;
    margin-right: 4px;
}