.map-picker-irradiation-gauge {
    display: block;
    background-image: linear-gradient(to right, #48709d 1%, #a2eb7b 30%, #fcf967 40%, #c84430 75%, #2e0527 100% );
}


.map-picker-irradiation-gauge-legend {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.map-picker-irradiation-gauge-legend > span {
    position: relative;
    justify-content: center;
    color: #40a9ff;
    font-size: 12px;
    width: 3em;
}

.map-picker-irradiation-gauge-slider {
    position: relative;
}

input[type=range] {
    width: 100%;
    margin: 13.8px 0;
    background-color: transparent;
    -webkit-appearance: none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    background: #3071a900;
    border: 0.2px solid rgba(1, 1, 1, 0);
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    margin-top: -11px;
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    background-image: url('../assets/images/logo.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}
input[type=range]::-moz-range-track {
    background: #3071a900;
    border: 0.2px solid rgba(1, 1, 1, 0);
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}
input[type=range]::-moz-range-thumb {
    width: 10px;
    height: 24px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
}
input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 14.8px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid rgba(1, 1, 1, 0);
    border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
    background: #3071a900;
    border: 0.2px solid rgba(1, 1, 1, 0);
    border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
    width: 10px;
    height: 24px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a900;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}

