.ant-form-item-label.solarIntensity {
    padding-bottom: 0;
    padding-top: 16px;
}

.map-picker-irradiation-gauge {
    display: block;
    position: absolute;
    width: 100%;
    top: 310px;
    left: 0;
    z-index: 2000;
    background-image: linear-gradient(to right, #48709d 1%, #a2eb7b 30%, #fcf967 40%, #c84430 75%, #2e0527 100% );
}

@media (max-width : 480px) {
    .map-picker-irradiation-gauge {
        top: 156px;
    }
}


.map-picker-irradiation-gauge-legend {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-top: 1px solid #d9d9d9;
    margin-left: -1px;
    margin-right: -1px;
    /*height: 60px;*/
}

.map-picker-irradiation-gauge-legend > span {
    position: relative;
    justify-content: center;
    color: #40a9ff;
    font-size: 12px;
    width: 3em;
}

.map-picker-irradiation-gauge-slider {
    position: relative;
}

.wrap {
    display: flex;
    align-items: center;
    position: relative;
    height: 5.25em;
    font: 1em/1 arial, sans-serif;
}

[type=range] {
    flex: 1;
    margin: 0;
    padding: 0;
    min-height: 1.5em;
    background: transparent;
    color: transparent;
    font: inherit;
}
[type=range], [type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
[type=range]::-webkit-slider-runnable-track {
    box-sizing: border-box;
    border: none;
    width: 12.5em;
    height: 0.25em;
    background: transparent;
}
[type=range]::-moz-range-track {
    box-sizing: border-box;
    border: none;
    width: 12.5em;
    height: 0.25em;
    background: transparent;
}
[type=range]::-ms-track {
    box-sizing: border-box;
    border: none;
    width: 12.5em;
    height: 0.25em;
    background: transparent;
}
[type=range]::-webkit-slider-thumb {
    margin-top: -15px;
    box-sizing: border-box;
    z-index: 200;
    background-image: url('../assets/images/sunrise-logo.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
[type=range]::-moz-range-thumb {
    box-sizing: border-box;
    border: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #f90;
}
[type=range]::-ms-thumb {
    margin-top: 0;
    box-sizing: border-box;
    border: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #f90;
}
[type=range]::-ms-tooltip {
    display: none;
}
[type=range] ~ output {
    display: none;
}
.map-picker-irradiation-gauge [type=range] ~ output {
    display: block;
    position: absolute;
    top: 23px;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    transform: translate(calc( (var(--val) - var(--min)) / (var(--max) - var(--min)) * 650px - ((var(--val) - var(--min)) / (var(--max) - var(--min)) * 100%)));
    color: #40a9ff;
}

@media (max-width : 480px) {
    .map-picker-irradiation-gauge [type=range] ~ output {
        transform: translate(calc( (var(--val) - var(--min)) / (var(--max) - var(--min)) * 300px - ((var(--val) - var(--min)) / (var(--max) - var(--min)) * 100%)));
    }
}
