@import '../theme.scss';

.map-picker {
  overflow: hidden;
  transition: height 250ms;
}

.map-picker.collapsed {
  height: 42px;
}

.map-picker:hover {
  border-color: $primary-light;
  border-right-width: 1px !important;
}

.map-picker-header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  flex-direction: row;
  padding-right: 4px;
  height: 42px;
}

.map-picker-irradiation {
  color: $primary-light;
  margin-left: 4px;
}

.map-picker-header > button.ant-btn-sm > span {
  font-size: 12px;
}

.map-picker-address {
  cursor: text;
  flex: 1;
  width: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: break-word;
}

.map-picker-view {
  position: relative;
  height: 380px;
  border-left: 1px solid $input-border;
  border-right: 1px solid $input-border;
  border-bottom: 1px solid $input-border;
  background-color: #F5F5F5;
}

.map-picker.expanded {
  height: 414px;
}

@media (max-width : 480px) {
  .map-picker-view {
    height: 200px;
  }
  .map-picker.expanded {
    height: 264px;
  }
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}