/* Add CSS styles here! */
body {
  font-family: sans-serif;
  background-color: #F5F5F5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.container > .ant-card {
  width: 100%;
  max-width: 480px;
  margin-bottom: 16px;
}
