@import './theme.scss';


body {
    font-family: sans-serif;
    background-color: $background;
    background-image: linear-gradient(to top, $background 1%, #F4D797 30%, #EBB58A 40%, #DA7F7D 75%, #B5728E 100% );
    background-repeat: no-repeat;
    --min: 600;
    --max: 2200;
    --val: 1000;
}

.anticon-loading {
    color: $primary;
}

.container {
    /*background-image: url("assets/images/dithered-image2.png");*/
    /*background-size: 120px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px 16px;
    /*background-position: -59px -325px, center top;*/
    /*background-size: 510px;*/
    background-repeat: repeat-x;
    /*background-attachment: fixed;*/
}

.container > .card {
    width: 100%;
    max-width: 736px;
    margin-bottom: 16px;
}

.card {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    background: #fff;
}

.card > .card-header {
    padding: 16px 16px;
}

.card > .card-body {
    padding: 16px 20px;
}

.card > .card-footer {
    border-top: 1px solid #edf1f7;
    padding: 16px 20px;
}

.ant-col-9, .ant-col-12, .ant-col-13, .ant-col-14, .ant-col-4 {
    text-align: right;
}
.total {
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    font-weight: bold;
}

.emphasis {
    font-weight: bold;
}

.app-nav {
    width: 100%;
    max-width: 736px;
    display: flex;
    flex-direction: row;
    padding: 8px 0;
}

.app-nav > .app-nav-logo {
    display: block;
    margin-right: 12px;
}

.app-nav > h1 {
    display: block;
    flex: 1;
    color: #FFFFFF;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}

@media screen and (max-width: 40em) {
    .card > .card-header {
        padding: 16px 12px;
    }

    .ant-steps-vertical > .ant-steps-item .ant-steps-item-icon {
        margin-right: 0px;
    }
}

.card-body .ant-steps-item-subtitle > div {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
}

.ant-steps-item-subtitle {
    margin-left: 0;
}

div.ant-steps-item-subtitle {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.ant-steps-item-title .panelPane {
    line-height: normal;
    padding-bottom: 8px;
}
.ant-steps-item-title {
    font-size: 16px;
    width: 100%;
}

.ant-select-single.ant-select-lg .ant-select-selector {
    color: white;
    font-weight: bold;

}

.prioritySwitch.ant-switch.ant-switch-checked {
    background: $primary;
}

.prioritySwitch.ant-switch  {
    background: green;
}

.ant-steps-item-title > span {
    width: 100%;
    float: left;
    padding-bottom: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold
}

.ant-steps-item-container {
    padding-bottom: 40px;
}

.ant-popover-inner-content {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 6px 8px;
    max-width: 500px;
}
.ant-tooltip {
    max-width: 500px;
}
@media (max-width : 480px) {
    .ant-popover-inner-content {
        max-width: 360px;
    }
    .ant-tooltip {
        max-width: 360px;
    }
}

.ant-steps DIV.ant-steps-item-subtitle {
    color: #000000d9;
}
.anticon-info-circle {
    color: rgba(0, 0, 0, 0.45);
}
.ant-col .anticon-info-circle {
    font-size: 16px;
}

.ant-drawer {
    z-index: 10000;
}

.ant-btn-variant-solid {
    border-color: $primary-dark;
    background: $primary;
}
.ant-steps .ant-steps-item-process.ant-steps-item-custom .ant-steps-item-icon >.ant-steps-icon {
    color: $primary
}
.ant-steps .ant-steps-item-finish.ant-steps-item-custom .ant-steps-item-icon >.ant-steps-icon {
    color: $primary-dark
}

.ant-drawer-header {
    padding-left: 12px;
}

.ant-steps .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: $primary;
}

.ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-tail::after {
    background-color: $primary-light;
}
